FORMAT: 1A
HOST: https://air-quality-forecast.weather.mg/

# Air Quality Forecast Service

## HTTP Status Codes
This API uses HTTP status codes to communicate with the API consumer .

+ `200 OK` - Response to a successful GET.
+ `400 Bad Request` - Malformed request; validation errors.
+ `401 Unauthorized` - When no or invalid authentication details are provided.
+ `403 Forbidden` - When authentication succeeded but authenticated user doesn't have access to the resource.
+ `404 Not Found` - When a non-existent resource is requested.
+ `405 Method Not Allowed` - Method not allowed.
+ `415 Unsupported Media Type` - Unsupported media type in request.

## Authentication

All endpoints are **secured** with HTTP basic authorization and data are transmitted over HTTPS protocol.
If you want to get access please use [request form](https://meteogroup.zendesk.com/hc/en-gb/requests/new?ticket_form_id=64951).

### Search [/search?locatedAt={locatedAt}&fields={fields}]

#### Search air pollution forecasts for location [GET]
+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

    + Parameters
        + locatedAt: `-2.2323,47.4593` (string, required) - longitude,latitude;
        + fields: `airPollutionIndex` (string, required) - comma separated list of [airPollutionIndex,pollenIndex] or single value
    
+ Response 200 (application/json)
    
    Returns forecasts for today + 4 days.
    
    + Body
        
            {
                "forecasts": [
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-22T06:00:00Z",
                      "validFrom": "2017-01-22T00:00:00Z",
                      "validUntil": "2017-01-23T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 1
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-23T06:00:00Z",
                      "validFrom": "2017-01-23T00:00:00Z",
                      "validUntil": "2017-01-24T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 2
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-24T06:00:00Z",
                      "validFrom": "2017-01-24T00:00:00Z",
                      "validUntil": "2017-01-25T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 3
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-25T06:00:00Z",
                      "validFrom": "2017-01-25T00:00:00Z",
                      "validUntil": "2017-01-26T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 4
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-26T06:00:00Z",
                      "validFrom": "2017-01-26T00:00:00Z",
                      "validUntil": "2017-01-27T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 5
                    }
                ]
            }
#
