FORMAT: 1A
HOST: https://air-quality-forecast.weather.mg/

# Air Quality Forecast Service

## HTTP Status Codes
This API uses HTTP status codes to communicate with the API consumer .

+ `200 OK` - Response to a successful GET.
+ `400 Bad Request` - Malformed request; validation errors.
+ `401 Unauthorized` - When no or invalid authentication details are provided.
+ `403 Forbidden` - When authentication succeeded but authenticated user doesn't have access to the resource.
+ `404 Not Found` - When a non-existent resource is requested.
+ `405 Method Not Allowed` - Method not allowed.
+ `415 Unsupported Media Type` - Unsupported media type in request.


## Search [/search?locatedAt={locatedAt}&fields={fields}]

### Search air pollution forecasts for location [GET]

+ Parameters
    + locatedAt: `-2.2323,47.4593` (string, required) - longitude,latitude;
    + fields: `airPollutionIndex` (string, required) - comma separated list of [airPollutionIndex,pollenIndex] or single value
    
+ Response 200 (application/json)
    
    Returns forecasts for today + 4 days.
    
    + Body
        
            {
                "forecasts": [
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-22T06:00:00Z",
                      "validFrom": "2017-01-22T06:00:00Z",
                      "validUntil": "2017-01-22T23:59:59Z",
                      "period": "PT24H",
                      "airPollutionIndex": 1
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-23T06:00:00Z",
                      "validFrom": "2017-01-23T06:00:00Z",
                      "validUntil": "2017-01-23T23:59:59Z",
                      "period": "PT24H",
                      "airPollutionIndex": 2
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-24T06:00:00Z",
                      "validFrom": "2017-01-24T06:00:00Z",
                      "validUntil": "2017-01-24T23:59:59Z",
                      "period": "PT24H",
                      "airPollutionIndex": 3
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-25T06:00:00Z",
                      "validFrom": "2017-01-25T06:00:00Z",
                      "validUntil": "2017-01-25T23:59:59Z",
                      "period": "PT24H",
                      "airPollutionIndex": 4
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-26T06:00:00Z",
                      "validFrom": "2017-01-26T06:00:00Z",
                      "validUntil": "2017-01-26T23:59:59Z",
                      "period": "PT24H",
                      "airPollutionIndex": 5
                    }
                ]
            }
#
