FORMAT: 1A
HOST: https://air-quality-forecast.weather.mg/

# Air Quality Forecast Service

### Authentication

To access active-warning-service the request has to be authorised with a valid
JWT OAuth 2.0 access token,  obtained from the MeteoGroup Authorisation server
`https://auth.weather.mg/oauth/token`  with according client credentials. The
required scope is `air-quality-forecast`.

The documentation about how to authenticate against MeteoGroup Weather API with
OAuth 2.0 can be found here: [Weather API documentation](https://github.com/MeteoGroup/weather-api/blob/master/authorization/Authentication.md)

### Search air pollution forecasts for location [GET /pollution/search?locatedAt={locatedAt}&fields={fields}&timeZone={timeZone}]

The Air pollution index shows the 'Daily Air Quality Index' which is dependent on pollutant concentrations averaged over day. 
The data for UK comes from Met Office air pollution forecast feed and is generated from a regional model working on a 12km grid resolution.
The forecasts are only available in UK. Therefore if a query contains location outside UK, then the app throws error - 404 Not Found

Index Bands
1-3 : Low
4-6 : Moderate
7-9 : High
10  : Very High

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

    + Parameters
        + locatedAt: `-0.11,51.51` (string, required) - longitude,latitude;
        + fields: `airPollutionIndex,publishedAt` (string, required) - comma separated list of [airPollutionIndex,publishedAt] or single value;
        + timeZone: `Europe/London` (string, optional) - Time zone refers to the IANA Time Zone Database (TZDB).

+ Response 200 (application/json)

    Returns air pollution forecasts for today + 4 days.

    + Body

            {
              "forecasts": [
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-10T00:00:00+01:00",
                  "validUntil": "2017-05-11T00:00:00+01:00",
                  "forecastLocation": [ -0.1248, 51.5081 ],
                  "airPollutionIndex": 3,
                  "publishedAt": "2017-05-10T06:00:00+01:00"
                },
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-11T00:00:00+01:00",
                  "validUntil": "2017-05-12T00:00:00+01:00",
                  "forecastLocation": [ -0.1248, 51.5081 ],
                  "airPollutionIndex": 5,
                  "publishedAt": "2017-05-10T06:00:00+01:00"
                },
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-12T00:00:00+01:00",
                  "validUntil": "2017-05-13T00:00:00+01:00",
                  "forecastLocation": [ -0.1248, 51.5081 ],
                  "airPollutionIndex": 3,
                  "publishedAt": "2017-05-10T06:00:00+01:00"
                },
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-13T00:00:00+01:00",
                  "validUntil": "2017-05-14T00:00:00+01:00",
                  "forecastLocation": [ -0.1248, 51.5081 ],
                  "airPollutionIndex": 3,
                  "publishedAt": "2017-05-10T06:00:00+01:00"
                },
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-14T00:00:00+01:00",
                  "validUntil": "2017-05-15T00:00:00+01:00",
                  "forecastLocation": [ -0.1248, 51.5081 ],
                  "airPollutionIndex": 3,
                  "publishedAt": "2017-05-10T06:00:00+01:00"
                }
              ]
            }


### Returns all available locations of pollution forecasts in geo json format [GET /pollution/locations]

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE


+ Response 200 (application/json)

    + Headers

            Cache-Control: max-age=71697

    + Body

            {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {
                            "lastModifiedDate": "2017-06-21T05:00:00Z"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                -2.3275,
                                53.7052
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "lastModifiedDate": "2017-06-21T05:00:00Z"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                -2.553,
                                55.05
                            ]
                        }
                    },
                    ...
            }

#### Integrated resources

The source of all possible locations for which pollution data are provided: https://uk-air.defra.gov.uk/assets/rss/forecast.xml


### Search pollen forecasts for location [GET /pollen/search?locatedAt={locatedAt}&fields={fields}&timeZone={timeZone}]

Pollen forecast available only on United Kingdom and comes from Met Office data feed. When you try querying outside UK, you are receive response with status code `404 Not Found`.
Available pollen forecast separated on 16 regions. The `pollenForecastRegion` and `pollenForecastRegionName` parameters refers on table, see below:

Id  Name
--  ------------------------------
DG	SW Scotland, Lothian Borders
EE 	East of England
EM	East Midlands
GR	Grampian
HE 	Highlands & Eilean Siar
NE	North East England
NI	Northern Ireland
NW	North West England
OS	Orkney & Shetland
SE	London & South East England
ST 	Strathclyde
SW	South West England
TA	Central, Tayside & Fife
WL	Wales
WM	West Midlands
YH	Yorkshire & Humber

The `pollenIndex` parameters can be one of the following levels: Low, Moderate, High, Veryhigh

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

    + Parameters
        + locatedAt: `-0.11,51.51` (string, required) - longitude,latitude;
        + fields: `pollenForecastRegionName,issuedAt,pollenIndex` (string, required) - comma separated list of [pollenForecastRegionName,issuedAt,pollenIndex] or single value;
        + timeZone: `Europe/London` (string, optional) - Time zone refers to the IANA Time Zone Database (TZDB).

+ Response 200 (application/json)

    Returns pollen forecasts for today + 4 days.

    + Body

            {
              "forecasts": [
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-10T00:00:00+01:00",
                  "validUntil": "2017-05-11T00:00:00+01:00",
                  "pollenForecastRegion": "SE",
                  "pollenForecastRegionName": "London & South East England",
                  "pollenIndex": "Moderate",
                  "issuedAt": "2017-05-10T05:45:57+01:00"
                },
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-11T00:00:00+01:00",
                  "validUntil": "2017-05-12T00:00:00+01:00",
                  "pollenForecastRegion": "SE",
                  "pollenForecastRegionName": "London & South East England",
                  "pollenIndex": "Moderate",
                  "issuedAt": "2017-05-10T05:45:57+01:00"
                },
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-12T00:00:00+01:00",
                  "validUntil": "2017-05-13T00:00:00+01:00",
                  "pollenForecastRegion": "SE",
                  "pollenForecastRegionName": "London & South East England",
                  "pollenIndex": "Moderate",
                  "issuedAt": "2017-05-10T05:45:57+01:00"
                },
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-13T00:00:00+01:00",
                  "validUntil": "2017-05-14T00:00:00+01:00",
                  "pollenForecastRegion": "SE",
                  "pollenForecastRegionName": "London & South East England",
                  "pollenIndex": "Moderate",
                  "issuedAt": "2017-05-10T05:45:57+01:00"
                },
                {
                  "period": "PT24H",
                  "validFrom": "2017-05-14T00:00:00+01:00",
                  "validUntil": "2017-05-15T00:00:00+01:00",
                  "pollenForecastRegion": "SE",
                  "pollenForecastRegionName": "London & South East England",
                  "pollenIndex": "Moderate",
                  "issuedAt": "2017-05-10T05:45:57+01:00"
                }
              ]
            }

### Return GeoJson file with regions definitions [GET /pollen/regions.geojson]

This feature collection contains list of geometry shape like as `Polygon` and `MultiPolygon`, each has properties `regionId` and `region`

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

+ Response 200 (application/vnd.geo+json)

    + Body

            {
              "type": "FeatureCollection",
              "features": [
                {
                  "type": "Feature",
                  "properties": {
                    "regionId": "TA",
                    "region": "Central, Tayside & Fife"
                  },
                  "geometry": {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -2.871093749999943,
                          56.98291015625017
                        ],
                        [
                          -2.808898925781193,
                          56.95727539062506
                        ],
                        [
                          -2.751708984374943,
                          56.95452880859392
                        ],
                        [
                          -2.871093749999943,
                          56.98291015625017
                        ]
                      ]
                    ]
                  }
                }
              ]
            }
            

### Search air quality forecasts for location [GET /search?locatedAt={locatedAt}&fields={fields}]
     _                               _           _ 
    | |                             | |         | |
  __| | ___ _ __  _ __ ___  ___ __ _| |_ ___  __| |
 / _` |/ _ \ '_ \| '__/ _ \/ __/ _` | __/ _ \/ _` |
| (_| |  __/ |_) | | |  __/ (_| (_| | ||  __/ (_| |
 \__,_|\___| .__/|_|  \___|\___\__,_|\__\___|\__,_|
           | |                                     
           |_|                                     

This /search endpoint is deprecated and will be removed in the near future.
Please use endpoints /pollen or /pollution instead (see below)

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

    + Parameters
        + locatedAt: `-2.2323,47.4593` (string, required) - longitude,latitude;
        + fields: `airPollutionIndex` (string, required) - comma separated list of [airPollutionIndex,pollenIndex] or single value
    
+ Response 200 (application/json)
    
    Returns forecasts for today + 4 days.
    
    + Body
        
            {
                "forecasts": [
                    {
                      "forecastLocation": [ -2.2323, 47.4593 ],
                      "publishedAt": "2017-01-22T06:00:00Z",
                      "validFrom": "2017-01-22T00:00:00Z",
                      "validUntil": "2017-01-23T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 1,
                      "type": "pollution"
                    },
                    {
                      "forecastLocation": [ -2.2323, 47.4593 ],
                      "publishedAt": "2017-01-23T06:00:00Z",
                      "validFrom": "2017-01-23T00:00:00Z",
                      "validUntil": "2017-01-24T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 2,
                      "type": "pollution"
                    },
                    {
                      "forecastLocation": [ -2.2323, 47.4593 ],
                      "publishedAt": "2017-01-24T06:00:00Z",
                      "validFrom": "2017-01-24T00:00:00Z",
                      "validUntil": "2017-01-25T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 3,
                      "type": "pollution"
                    },
                    {
                      "forecastLocation": [ -2.2323, 47.4593 ],
                      "publishedAt": "2017-01-25T06:00:00Z",
                      "validFrom": "2017-01-25T00:00:00Z",
                      "validUntil": "2017-01-26T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 4,
                      "type": "pollution"
                    },
                    {
                      "forecastLocation": [ -2.2323, 47.4593 ],
                      "publishedAt": "2017-01-26T06:00:00Z",
                      "validFrom": "2017-01-26T00:00:00Z",
                      "validUntil": "2017-01-27T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 5,
                      "type": "pollution"
                    }
                ]
            }
