FORMAT: 1A
HOST: https://air-quality-forecast.weather.mg/

# Air Quality Forecast Service

### Authentication

All endpoints are **secured** using OAuth2 authorization protocol with transmitting data over HTTPS.
The authorization flows are described here [authorization flow](http://oauthbible.com/#oauth-2-two-legged)

#### Client Credentials

Before getting an access to any endpoints, need to obtain **client id** and **client secret**.
For achieving this, please use [request form](https://meteogroup.zendesk.com/hc/en-gb/requests/new?ticket_form_id=64951).

#### Authorization Token

Once you have your client credentials (Client-ID + Password), you can request a token on
[Authorization server](https://auth.weather.mg/oauth/token?grant_type=client_credentials with http basic auth).

The token will be in the return message, encrypted with a key from the authorization service.

It will contain the client-ID, scopes and expiration date.
The token is only a valid for a limited time, after this it will expired and you have to request a new token again.

#### Using Authorization Token

HTTP GET request to the endpoints needs to provide Authorization Token into **Authorization** HTTP Header.
More information about JWT token might be found here: https://en.wikipedia.org/wiki/JSON_Web_Token.

The example is: HTTP Header: "Authorization" : "Bearer {ENCRYPTED TOKEN HERE}"

The Authorization contains the Scopes which the client is allowed to have. (**air-quality-forecast** is the scope which allows to request Air Quality Forecast Service)

### Search [/search?locatedAt={locatedAt}&fields={fields}]

#### Search air quality forecasts for location [GET]
+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

    + Parameters
        + locatedAt: `-2.2323,47.4593` (string, required) - longitude,latitude;
        + fields: `airPollutionIndex` (string, required) - comma separated list of [airPollutionIndex,pollenIndex] or single value
    
+ Response 200 (application/json)
    
    Returns forecasts for today + 4 days.
    
    + Body
        
            {
                "forecasts": [
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-22T06:00:00Z",
                      "validFrom": "2017-01-22T00:00:00Z",
                      "validUntil": "2017-01-23T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 1
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-23T06:00:00Z",
                      "validFrom": "2017-01-23T00:00:00Z",
                      "validUntil": "2017-01-24T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 2
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-24T06:00:00Z",
                      "validFrom": "2017-01-24T00:00:00Z",
                      "validUntil": "2017-01-25T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 3
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-25T06:00:00Z",
                      "validFrom": "2017-01-25T00:00:00Z",
                      "validUntil": "2017-01-26T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 4
                    },
                    {
                      "locatedAt": [
                        -2.2323,
                        47.4593
                      ],
                      "forecastLocation": [
                        -2.2323,
                        47.4593
                      ],
                      "publishedAt": "2017-01-26T06:00:00Z",
                      "validFrom": "2017-01-26T00:00:00Z",
                      "validUntil": "2017-01-27T00:00:00Z",
                      "period": "PT24H",
                      "airPollutionIndex": 5
                    }
                ]
            }
#
