FORMAT: 1A
HOST: https://elevation.weather.mg

# Air Quality Forecast Service

#### Authorization

To access elevation-service the request has to be authorized with a valid JWT OAuth 2.0 access token,
obtained from the MeteoGroup Authorization server https://auth.weather.mg/oauth/token with according client credentials. The required scope is elevation.
The documentation about how to authenticate against MeteoGroup Weather API with OAuth 2.0 can be found here: https://github.com/MeteoGroup/weather-api/blob/master/authorization/Authentication.md

Once you have your client credentials (Client-ID + Password), you can request a token on
[Authorization server](https://auth.weather.mg/oauth/token?grant_type=client_credentials with http basic auth).

The token will be in the return message, encrypted with a key from the authorization service.

It will contain the client-ID, scopes and expiration date.
The token is only a valid for a limited time, after this it will expired and you have to request a new token again.

#### Using Authorization Token

HTTP GET request to the endpoints needs to provide Authorization Token into **Authorization** HTTP Header.
More information about JWT token might be found here: https://en.wikipedia.org/wiki/JSON_Web_Token.

HTTP Header: **Authorization** : **Bearer {ENCRYPTED TOKEN HERE}**

### Get elevation for single point [GET /elevation?locatedAt={singlePoint}]

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

    + Parameters
        + locatedAt: `10.041,22.409` (string, required) - longitude,latitude;

+ Response 200 (application/json)

    Returns elevation for single Lon/Lat point

    + Body

            {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "670"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                10.041000366,
                                22.409000397
                            ]
                        }
                    }
                ]
            }


### Get elevation for compressed points [GET elevation?locatedAt={compressedPoints}]

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

    + Parameters
        + locatedAt: `j-h6z-6rvBj19wwt1pwHysgn9xou4FlxjuglztmDoszr_ylwqD` (string, required) - compressed points;

+ Response 200 (application/json)

    + Body

            {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "438"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                35.432941437,
                                15.598409653
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "0"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                129.721343994,
                                36.248039246
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "96"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                40.656719208,
                                47.881080627
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "gtopo",
                            "elevationInMeter": "668"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                96.525482178,
                                67.051452637
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "41"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                78.036361694,
                                9.021289825
                            ]
                        }
                    }
                ]
            }