FORMAT: 1A
HOST: https://elevation.weather.mg

# Elevation Service

### Authentication

To access active-warning-service the request has to be authorised with a valid
JWT OAuth 2.0 access token,  obtained from the MeteoGroup Authorisation server
`https://auth.weather.mg/oauth/token`  with according client credentials. The
required scope is `elevation`.

The documentation about how to authenticate against MeteoGroup Weather API with
OAuth 2.0 can be found here: [Weather API documentation](https://github.com/MeteoGroup/weather-api/blob/master/authorization/Authentication.md)

### Get elevation for single point [GET /elevation?locatedAt={singlePoint}&elevationDataSource={dataSource}]

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

    + Parameters
        + locatedAt: `10.041,22.409` (string, required) - longitude,latitude;
        + elevationDataSource: `srtm` (string, optional) - data source, where to get elevation; there can be used 'srtm' or 'gtopo'

+ Response 200 (application/json)

    Returns elevation for single Lon/Lat point

    + Body

            {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "670"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                10.041000366,
                                22.409000397
                            ]
                        }
                    }
                ]
            }


### Get elevation for compressed points [GET /elevation?locatedAt={compressedPoints}&elevationDataSource={dataSource}]

+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.EkN-DOsnsuRjRO6BxXemmJDm3HbxrbRzXglbN2S4sOkopdU4IsDxTI8jO19W_A4K8ZPJijNLis4EZsHeY559a4DFOd50_OqgHGuERTqYZyuhtF39yxJPAjUESwxk2J5k_4zM3O-vtd1Ghyo4IbqKKSy6J9mTniYJPenn5-HIirE

    + Parameters
        + locatedAt: `j-h6z-6rvBj19wwt1pwHysgn9xou4FlxjuglztmDoszr_ylwqD` (string, required) - compressed points;
        + elevationDataSource: `srtm` (string, optional) - data source, where to get elevation; there can be used 'srtm' or 'gtopo'

+ Response 200 (application/json)

    Returns elevations for compressed points in the same order as they were requested

    + Body

            {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "438"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                35.432941437,
                                15.598409653
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "0"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                129.721343994,
                                36.248039246
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "96"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                40.656719208,
                                47.881080627
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "gtopo",
                            "elevationInMeter": "668"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                96.525482178,
                                67.051452637
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "elevationDataSource": "srtm",
                            "elevationInMeter": "41"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                78.036361694,
                                9.021289825
                            ]
                        }
                    }
                ]
            }